body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  display: block;
  padding-bottom: 20px;
}
.nav-bar {
  color: #000;
  background-color: #fff;
  padding: 8px;
  font-size: 15px;
  background-color: rgb(231, 228, 227);
}
.nav-right {
  float: right;
  margin: 0 70px;
}
div a {
  color: rgb(75, 72, 72);
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px;
}
div a:hover {
  background-color: rgb(194, 190, 190);
}
.text-center {
  position: relative;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.center {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  padding: 5px;
  background-color: #000;
}
.top-left {
  color: #fff;
  background-color: #000;
  position: absolute;
  top: 9px;
  left: 10px;
  padding: 2px;
}
.projects {
  box-sizing: border-box;
  padding: 20px;
}
.column {
  float: left;
  padding: 10px;
  width: 30%;
  position: relative;
}
.row {
  display: flex;
  position: relative;
}
.about {
  padding: 20px;
}
.container {
  border-radius: 5px;
  padding: 20px;
}
input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  color: #fff;
  background-color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

.footer {
  padding: 20px;
  text-align: center;
  color: #fff;
  background-color: #000;
}
.footer a {
  color: white;
}
